.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-001-medicine {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-002-siren {
	font-size:(32/10)*1rem;
	width:(35/32)*1em;
}
.icon-003-health {
	font-size:(32/10)*1rem;
	width:(36/32)*1em;
}
.icon-004-smartwatch {
	font-size:(32/10)*1rem;
	width:(23/32)*1em;
}
.icon-005-facebook {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-006-conversation {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-logo {
	font-size:(23/10)*1rem;
	width:(220/23)*1em;
}
