.nav-menu {
  position: relative;
  margin-left: 120px;
  margin-top: -3px;

  &--footer {
    margin-top: 10px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    & + & {
      margin-left: 50px;
    }
  }

  &--footer &__item + &__item {
    margin-left: 71px;
  }

  &__link {
    display: block;
    color: #fdfffc;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
    position: relative;

    &:after {
      content: '';
      height: 4px;
      width: 4px;
      border-radius: 50%;
      background: #fdfffc;
      position: absolute;
      left: 50%;
      bottom: -6px;
      margin-left: -2px;
      opacity: 0;
      transition: all 0.4s ease;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}
