@font-face {
  font-family: 'CeraRoundPro';
  src: url('../../fonts/CeraRoundPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/CeraRoundPro-Regular.woff') format('woff'),
       url('../../fonts/CeraRoundPro-Regular.ttf')  format('truetype'),
       url('../../fonts/CeraRoundPro-Regular.svg#CeraRoundPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CeraRoundPro';
  src: url('../../fonts/CeraRoundPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/CeraRoundPro-Bold.woff') format('woff'),
       url('../../fonts/CeraRoundPro-Bold.ttf')  format('truetype'),
       url('../../fonts/CeraRoundPro-Bold.svg#CeraRoundPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CeraRoundPro';
  src: url('../../fonts/CeraRoundPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/CeraRoundPro-Medium.otf')  format('opentype'),
       url('../../fonts/CeraRoundPro-Medium.woff') format('woff'),
       url('../../fonts/CeraRoundPro-Medium.ttf')  format('truetype'),
       url('../../fonts/CeraRoundPro-Medium.svg#CeraRoundPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Geometria.otf')  format('opentype'),
       url('../../fonts/Geometria.woff') format('woff'),
       url('../../fonts/Geometria.ttf')  format('truetype'),
       url('../../fonts/Geometria.svg#Geometria') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Geometria-Medium.otf')  format('opentype'),
       url('../../fonts/Geometria-Medium.woff') format('woff'),
       url('../../fonts/Geometria-Medium.ttf')  format('truetype'),
       url('../../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
